<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 1. 数据库连接信息  -->
		<property name="connection.url">jdbc:mysql://localhost:3306/ebuy</property>
		<property name="connection.username">root</property>
		<property name="connection.password">sa</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- 2. Hibernate配置信息  -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!--3. 将执行sql打印到控制台-->
		<property name="hibernate.show_sql">true</property>
		
		<!-- 加载映射文件 -->
		<mapping resource="net/gupt/ebuy/pojo/Customer.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/Idea.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/Product.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/Notice.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/Payment.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/Orders.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/OrderDetails.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/MainType.hbm.xml"/>
		<mapping resource="net/gupt/ebuy/pojo/Admin.hbm.xml"/>
	</session-factory>
</hibernate-configuration>